body {
  text-align: center;
  font-family: Verdana, sans-serif;
  color: #1e212d;
}

h1 {
  color: white;
  font-size: 2.5rem;
  font-family: "Montserrat";
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-family: "Montserrat";
}

p {
  font-size: 1.5rem;
}

.details p {
  color: #1e212dc5;
  font-size: 1rem;
}

/* Top */
.info {
  background-color: #1e212d;
  color: white;
  padding: 14% 10%;
}

.top {
  background-color: #1e212d;
  padding-bottom: 50%;
  background-image: url("images/IMG_2980.jpg");
  background-position: center;
  background-size: 200%;
}

.btn {
  border-radius: 0;
  border: 3px solid white;
  margin: 3px;
}

/* middle */
.skills {
  padding: 0 10%;
}

.middle-container {
  margin: 100 auto 0 auto;
}

.details {
  padding: 15% 0;
  text-align: center;
}

.left-img {
  width: 80%;
  padding: 15% 0;
}

/* bottom */
#bottom-container {
  margin-top: 100px;
  padding: 30px 0 20px;
  margin-bottom: 0;
  background-color: #1e212d;
}
.credit {
  font-size: 12px;
  color: #eaf6f6;
}

@media only screen and (max-width: 990px) {
  h3 {
    font-size: 1.5rem;
  }

  .left-img {
    padding-bottom: 10px;
  }

  .details {
    padding: 0 0 5% 0;
  }
}
