body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: Verdana, sans-serif;
}
h1{
    color: #66BFBF;
    font-size: 5.265rem;
    margin: 50px auto 0 auto;
}

h2{
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    
}

h3{
    color: #11999E;
    
}

p{
    line-height: 2;
}


hr{
    border: dotted #EAF6F6 6px; 
    border-bottom: none;
    width: 4%;
    margin: 20% auto;
    clear:both;
}


.top{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
    padding-bottom: 10px;
}

.middle-container{
    margin: 100 auto 0 auto;
}
  
.intro{
    width: 30%;
    margin: 10 auto;
}

.sample{
    width: 80%;
    margin: 100px auto;
    text-align: center; 
}

.details{
    padding-top: 7%;
    text-align: center;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px       ;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-container{
    margin-top: 100px;
    padding:50px 0 20px ;
    margin-bottom: 0;
    background-color:03506f;
}

.code-img{
    width: 50%;
    float: left;
    margin-right: 30px;
}
.chili-img{
    width: 50%;
    float: right;
    margin-left: 30px;
    
}
.sad-img{

    width: 50%;
    float: left;
    margin-right: 30px;
    
}

.footer-link{
    margin: 10px 20px;
    text-decoration: none;
    font-family:sans-serif;
    color: #11999E;
}
.footer-link:hover{
    color: #EAF6F6;
}

.credit{
    font-size: 12px;
    color:#EAF6F6;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #1199e);
    background-image: -moz-linear-gradient(top, #11cdd4, #1199e);
    background-image: -ms-linear-gradient(top, #11cdd4, #1199e);
    background-image: -o-linear-gradient(top, #11cdd4, #1199e);
    background-image: linear-gradient(to bottom, #11cdd4, #1199e);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }