body {
  text-align: center;
  font-family: Verdana, sans-serif;
}

h3 {
  font-size: 100rem;
}

p {
  font-size: 1.5rem;
  padding: 1rem 10%;
}

/* Top */
.info {
  background-color: #1e212d;
  color: white;
  padding: 16%;
}

.top {
  background-color: #1e212d;
  padding-bottom: 50%;
  background-image: url("images/IMG_2980.jpg");
  background-position: center;
  background-size: 200%;
}

.title-name {
  color: white;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

/* middle */
.skills {
  padding: 0 10%;
}

.middle-container {
  margin: 100 auto 0 auto;
}

.details {
  padding: 15% 0;
  text-align: center;
}

.left-img {
  width: 80%;
  padding: 15% 0;
}

/* bottom */
.bottom-container {
  margin-top: 100px;
  padding: 50px 0 20px;
  margin-bottom: 0;
  background-color: #1e212d;
}

.footer-link {
  margin: 10px 20px;
  text-decoration: none;
  font-family: sans-serif;
  color: white;
}
.footer-link:hover {
  color: #eaf6f6;
}

.credit {
  font-size: 12px;
  color: #eaf6f6;
}
